html, body, #root {
  height: auto;
  margin: 0;
  padding: 0;
}


#root {
  width:100vw;
  min-height:100vh;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right:2rem;
  text-align: center;
  background: linear-gradient(180deg, #FFFFFF 0%, #92CEFF 100%);
  background-attachment: fixed; /* optional: makes gradient stick visually during scroll */
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url(/src/fonts/SF-Pro-Display-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
