
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white #793FC8;
  scrollbar-snap-type: x mandatory;
}


.tileLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    width:40%;
    height:100%;
}

.locationText {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #006FC8;
}

.temperatureText {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 76px;

    background: linear-gradient(145.39deg, #793FC8 24.55%, #006FC8 113.23%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.degree {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 76px;

    background: linear-gradient(145.39deg, #793FC8 24.55%, #006FC8 113.23%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.weatherImg {
    max-width: 8rem;
    height:auto;
    width:100%;
    object-fit:contain;
    display:block;
    box-shadow: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top:1rem;
}

.tileRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:none;
    order:1;
    height:100%;
    width:40%;
    padding:1rem;
}

.tileRightTop {
    height:60%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tileRightButtom {
    display:flex;
    flex-direction:row;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: flex-start;
    gap:0.5rem;
}

.tileRightRightText {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 16px;
    color: #D519C8;
    order:1;
    text-align:right;
}

.tileRightLeftText {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 16px;
    color: #006FC8;
    text-align:left;
}

.favButton {
    width:2rem;
    height:2rem;
    position:absolute;
    top:0rem;
    right:0rem;
    background: linear-gradient(180deg, #016FC8 0%, #AB2BC8 100%);
    border-radius: 0px 10px;
    border:none;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    order:0;
}

.heart {
    position: absolute;
    left: '25%';
    top:'25%';
    right: '25%';
    bottom: '25%';
    color:white;
    margin:0;
}
